html {
    background-color: rgb(204, 204, 204);
    font-family: sans-serif;
}

section {
    clear: both;
    margin-bottom: 40px;
}

h1 {
    margin-bottom: 46px;
}

h2 {
    margin-bottom: 16px;
}

ul {
    list-style-type: none;
}

ul.lista1 li {
    text-align: center;
    font-weight: bold;
    border: 5px dashed rgb(146, 101, 189);
    background-color: rgb(104, 211, 127);
    color: rgb(100, 0, 100);
    float: left;
    margin-right: 16px;
    width: 120pt;
    padding-top: 8px;
    padding-bottom: 8px;
}

ul.lista2 {
    text-align: center;
}

ul.lista2 li{
    display: inline;
    background-color: white;
    border: 2px solid;
    border-color: white black black white ;
    margin-right: 13px;
    padding: 5px;
}

ul.lista2 li:hover{
    border-color: black white white black;
    background-color: rgb(204, 204, 204);
}

ul.lista3 {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    width: 180px;
}

ul.lista3 li {
    border: 1px solid black;
    background-color: white;
    padding: 8px;
    margin: 8px;
}



